body{
    margin: 0;
}
.flexible-display{
    display: flex;   
}
h1{
    font-family: 'Mulish', sans-serif;
    font-family: 'Yeseva One', cursive;
    font-size: 55px;
}
#header-margin{
    margin-top: 3%;
}

h2{
    font-family: 'Mulish', sans-serif;
    font-family: 'Yeseva One', cursive;
    font-size: 45px;
    text-align: center;
    font-weight: 700;
}
h3{
    font-family: 'Mulish', sans-serif;
    font-family: 'Yeseva One', cursive;
    font-size: 35px;
}
.orange{
    color: orange;
}
.paragraph{
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
}
.padding-top-left{
    margin-top: 40px;
    margin-left: 125px;
    padding-right: 10%;
}
.border-left{
    border-left: 6px solid;
    border-color: crimson;
    padding-left: 15px;
}
.half-width{
    width: 50%;
}
.button-style{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    background-image: linear-gradient(brown,crimson);
    padding: 10px 40px;
    border-radius: 5px;
}
.para-margin-top{
    margin-top: 10%;
}
.half-width img{
    width: 90%;
    margin-right: 5%;
}
.my-mission{
    width: 25%;
    margin-top: 5%;    
    border-radius: 20px;
    padding: 20px;
}
#mission{
    background: rgb(233, 241, 245);
    margin-left: 9%;
    margin-right: 2%;
}
#vission{
    background: rgb(221, 236, 199)
}
#goals{
    background: rgb(247, 228, 226);
    margin-right: 9%;
    margin-left: 2%;
}
.my-mission img{
    width: 40%;
}
.my-mission h3{
    font-size: 25px;
}
.section3{
    margin-top: 5%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;background-size: 15%;
    background-position: 2em;
}
#coding-pic{
    width: 65%;
    margin-left: 20%;
}
#devoloper-documment{
    margin-right: 10%;
    margin-top: 1%
}
.section4{
    margin-top: 5%;
    margin-right: 5%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 100% 100%;
}
#project-pic{
    width: 65%;
    margin-left: 22%;
    margin-bottom: 10%;
}
#know-our-community{
    margin-top: 2%;
    margin-left: 9%;
    padding: 5px;
}
#footer-id{
    background: rgb(26, 25, 25);
    height: 150px;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}
.footer-h3-p-id{
    color: white;
}

/*===      section 5    ===       ================================*/
h4{
    font-size: 25px;
}
.img-width{
    width: 100%;
    margin-top: 3%;
    padding-left: 10%;
    background: rgb(227, 236, 241);
    padding: 50px;
}
#basic-concept-pic{
    width: 85%;
    margin-left: 28%;
    border-radius: 40px;
}
.rewards-badge-class{
    color: white;
   background: rgb(32, 32, 90);
   border-radius: 40px;
   padding: 73px;
   width: 50%;  
   margin-left: 15%;
   text-align: center;
   margin-right: 4%;
}
#badges{
      width: 100%;
}
.link-div{
    width: 30%;
}